body{
    background-image: linear-gradient(to left, rgb(8, 100, 185), rgb(165, 165, 2) );

}
h1{
    text-align: center;
    color: white;
    font-size: 45px;
}
.menu{
    margin-top: 5%;
    width: 20%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
}
.menu_links{
    color: white;
    text-decoration: none; 
}
.menu_links:hover{
    color: white;
}
.p_menu{
    font-size: 18px;
    width: 100%;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
.p_menu:hover{
    font-size: 22px;
    color: white;
}
.lista{
    list-style: circle;
    display:flex;
    width: 200%;
}
.coluna{
 
    width: 100%;
}