.p1{
    border-top:10px;
    border-bottom:10px;
    border-left:10px;
    border-right:10px;
    border-style: solid;
    border-radius:20px;

    color:black;
    font-size: 15px;
    text-align:center ;

    margin-left: 300px;
    margin-right: 300px;
}
.p1{
    transition: all 0.5s;
    cursor: pointer;
}
.p1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.p2{
    border-top:10px;
    border-bottom:10px;
    border-left:10px;
    border-right:10px;
    border-style:dotted;
    border-radius:20px;

    color: black;
    font-size:15px;
    text-align:center;

    margin-left: 300px ;
    margin-right: 300px;
}
.p2{
    transition: all 0.5s;
    cursor: pointer;
}
.p2:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.barra{
    text-align: center;
    color: white;
    background-color: black;
    
}
.zoom{
	overflow: hidden;
}

zoom img{
	max-width: 100%;
	transition: all 0.3s;
}
.zoom:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.body{
    overflow-x: hidden;
    background-image: linear-gradient(to left, rgb(8, 100, 185), rgb(165, 165, 2) );
}
.cabecalho_prim{
    height: 9%;
    background-color: black;
    text-align: center;
    color: white;
}
.menu{
    /*background-color: rgb(8, 100, 185);*/
    border-radius: 5px;
    width: 21%;
    height: 650px;
    margin-top: 4.5%;

}
.abas{
    background-color: rgb(8, 100, 185);
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
    height: 30px;
    color: aliceblue;
    margin-left: 2%;
    
    max-width: 100%;
	transition: all 0.3s;
}
.abas:hover{
    color: aliceblue;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.principal{
    /*background-color:orangered;*/
    width: 402.4%;
    display: flex;
    margin-left: -2.4%;
    list-style: none;
}

.imagemhome{
    width: 80%;
    border-radius: 10px;
 
}

html{
    scroll-behavior:smooth;
}
.links{
    text-decoration: none;
    color: orange;

    max-width: 100%;
	transition: all 0.3s;
}
.links:hover{
    color: white;
    font-size: 25px;
}
.cabecalho_secun{
    border-radius: 5px;
    height: 8%;
    background-color: black;
    text-align: center;
    color: white;

}
.colunas{
    width: 50%;
}
.ancora{
    margin-bottom: 6%;
}
.conteudo{
    margin-left: 22%;
}

.alinhamento{
    text-align: justify;
    font-size: 22px;
    color: white;
    width: 97%;
}
.imagensmostrais{
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 255, 255, 0.158);
}
.zeca{
    text-align: center;
    width: 33.3%;
}

.margin{
    padding-top: 3%;
}
.top{
    padding-top: 15%;
    padding-right: 50px;
}
.perdon{
    margin-left: -30px;
    padding-top: 10px;
}
.afastar{
    margin-right: 35px;
}
.nivel_cartas{
    border-radius: 5px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 255, 255, 0.158);
    margin-right: 4%;
    margin-bottom: 2%; 
    width: 60%;   
}
.cartas_alinhar{
    display: flex;
    text-align: center;



}
.cartas_alinhar_2{
    display: flex;
    text-align: center;
    padding-left: 1%;


}
.margin_cartas{
    margin-top: -10px;
}
.alinhada_master{
    margin-top: 2%;
    display: flex;
    width: 100%;
 
    
}
.espaçamentos{
    margin-top: 10%;
}
.alinhadinha{
    margin-right: 20px;
    margin-left: 10px;
    text-align: justify;
    font-size: 22px;
    color: white;
  
}
.arena{
    border-radius: 5px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.158);
    border-style: solid;
    padding-top: 2%;
    display: flex;
    padding-right: 2%;
    margin-bottom: 2%;
}
.jogo_1{
    text-align: center;
    padding-left: -5%;
}
.jogo_2{
    text-align: center;
    margin-top: 5%;
}
.total_ligas_arenas{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    display: flex;
    background-color: rgba(255, 255, 255, 0.158);
}
.arena_1{
    text-align: center;
    margin-top: 2%;
    margin-left: -15%;
    color: white;
}
.ligas{
    text-align: center;
    margin-top: 2%;
    margin-right: -7%;
    color: white;
}
.sumbary{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    display: flex;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    padding-top: 2%;
}
.sumbary_01{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    display: flex;
    background-color: rgba(255, 255, 255, 0.158);
    text-align: center;
    padding-top: 2%;
    padding-left: 15%;
}
.formulario{
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    color: white;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.158);
    margin-top: 2%;
}
.pontospessoais{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
}
.pontosdosite{
    display: flex;
    margin-left: 2%;
}
.afastamento{
    margin-right: 5%;
}
.afastamento01{
    margin-right: 5%;
}
.afastamento02{
    margin-top: 2%;
    margin-left: 2%;
}
.enviar{
    margin-left: 2%;
    margin-bottom: 2%;
}
.div{
    text-align:center;
    margin-top: 0.6%;
    margin-left: 5%;
    width: 5%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.158);
    
    height: 6.5%;    
}
.esq{
    font-size:25px;
}
.menu_links{
    color: white;
    text-decoration: none; 
}