body{
    background-color: rgb(44, 44, 50);
}
p{
    text-align: center;
    border: 10px inset;
    border-radius: 15px;
    border-color: rgb(0, 137, 210);
    transition: all 0.5s;




}
p:hover{
    -webkit-filter: drop-shadow(15px 10px 7px rgba(0,0,0,1.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,1.5));

}
.p1{
    text-align: center;
    border: 10px solid;
    border-radius: 15px;
    border-color: rgb(0, 137, 210);
    padding-top: 20px;
    padding-bottom: 20px;


    
}
h1{
    font-family: 'Arial';
    font-size: 50px;
    text-align: center;
    background-color: rgb(37, 37, 43);
    color:rgb(204, 204, 204);

}
img{
    transition: all 0.5s;
    cursor: pointer;
}

img:hover{
    transform: scale(1.5);
}